/* Extra Small */
@media(max-width:767px){

}

/* Small */
@media(min-width:768px) and (max-width:991px){
	#adv-search {
        width: 500px;
        margin: 0 auto;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	#adv-search {
        width: 500px;
        margin: 0 auto;
    }
}

/* Large */
@media(min-width:1200px){
	#adv-search {
        width: 500px;
        margin: 0 auto;
    }
}