/* Extra Small */
@media(max-width:767px){
/* search box over lap on top the navbar-fixed-top by bee*/
    .media-margin-fixed-top{
        position: fixed;
        top: -10px;
        left: 100px;
        
    }
    #adv-search {
        width: 190px;
    }
    #adv-search-member {
        width: 260px;
        margin-left: 28%;
    }
/* Member page - fixed position the navbar adv search for member by bee */
    .navbar-form-member{
        margin-top: 0px;
        margin-bottom: 0px;
    }

/* Welcone page - edit padding left and right in feed section by bee */
    #feeds-padding{
        padding-left: 5%;
        padding-right: 5%;
    }
    #profile_section {
        margin-top: -180px;
        margin-bottom: 30px;
    }
    #user_pic {
        width: 120px;
        height: 120px;
    }

/* Shop page - use for resize catagorie image */
    #show_catagorie>div>div>a>span>div>img {
        max-width: 200px;
        max-height: 200px;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
    #adv-search{
        width: 300px;

    }
    #adv-search-member {
        width: 300px;
        margin-left: 7%;
    }
    #profile_section {
        margin-top: -180px;  
        margin-bottom: 30px;
    }
/* Shop page use for resize catagorie image by bee */
    #show_catagorie>div>div>a>span>div>img {
        max-width: 225px;
        max-height: 225px;
        
    }
}


/* Medium */
@media(min-width:992px) and (max-width:1199px){
    #adv-search {
        width: 300px;
        margin-left: 10.5%;
    }
    #adv-search-member {
        width: 300px;
        margin-left: 9%;
    }
    #profile_section {
        margin-top: -180px;
        margin-bottom: 30px;
    }
/* Shop page - use for resize catagorie image by bee */
    #show_catagorie>div>div>a>span>div>img {
        max-width: 225px;
        max-height: 225px;
    }
}

/* Large */
@media(min-width:1200px){
    #adv-search {
        width: 300px;
        margin-left: 12%;
    }
    #adv-search-member {
        width: 300px;
        margin-left: 10.5%;
    }
    #profile_section {
        margin-top: -180px;
        margin-bottom: 30px;
    }
/* Shop page - use for resize catagorie image by bee */
    #show_catagorie>div>div>a>span>div>img {
        max-width: 225px;
        max-height: 225px;
    }
}